@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* max-height: 100vh; */
  @apply xl:max-h-[100vh]
}

button {
  padding: 10px;
  background-color: #F15757;
  border-radius: 10px;
}

.utilityClass {
  display: flex;
  justify-content: center;
  align-items: center;
}